<html>

<head>
    <title>TuTraductorPython</title>
    <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>
    <div class="caja_grande">
        <div class="caja_titulo">
            <h1 class="Titulo">TuTraductorPython: Para Java</h1>
            <figure>
                <img src="public/image/computador.png" alt="computador">
            </figure>
        </div>
        <p>¿Quieres cambiar por Mano Escrito Codigo? <a href="mano_escrito.html">This way sir!</a></p>

        <div class="caja">
            <h3>Sube un archivo que desea traducir:</h3>
            <input type="file">
            <button>¡TRADUCE!</button>
        </div>

        <div class="caja_resultado">
            <h5>Resultado de traducir: </h5>
            <textarea name="" id=""></textarea>
        </div>

        <h2 class="Autor">Autor:JJA</h2>
    </div>
</body>

</html>