<html>

<head>
    <title>Jafapy</title>
    <link rel="stylesheet" href="public/css/styles2.css">
    <link rel="icon" type="image/png" href="public/image/computador.png">
    <script src="public/js/connection.js"></script>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
</head>

<body>
    <div class="caja_main">

        <div class="caja_titulo">
            <div class="centrar_contenido">
                <h1 class="Titulo">Jafapy</h1>
            <figure>
                <img src="public/image/computador.png" alt="computador">
            </figure>
            </div>
            <div class="caja_musica" id="Contenedor_MusicPlayer">
                <audio id="audioPlayer" controls></audio>
                <button id="CargarMusicaDefecto" class="btn_musicando"><span style="color: white;">Musica efecto</span></button>
                <button id="CargarMusicaSeleccionado" class="btn_musicando"><span style="color: white;">Elige tu favorito musica</span></button>
                <input type="file" id="musicFileInput" accept="audio/*" style="display: none;">
                <button class="btn_musicando" id="Btn_apagar"><span style="color: white;">Apagar Musica</span></button>
            </div>
        </div>

        <div class="caja_modos">
            <span>¿Quieres cambiar por Mano Escrito Codigo? <a href="mano_escritov2.html">This way sir!</a> <span
                    class="emoji">&#129488;</span>
                    <span>¿Y quieres escuchar musica? -> Toca esta boton <span class="emoji">&#127925;</span></span><button class="Btn_musica" id="Mostrar_MusicPlayer">¡Música!</button>
            </span>
        </div>

        <div class="caja_grande">
            <div class="caja12">
                <div class="caja_Parte_arriba">
                    <span><strong>Sube un archivo que desea traducir:</strong></span>
                    <input type="file" id="input" accept=".java">
                    <div class="caja_seleccionar_modos">
                        <span><strong>¡Y selecciona Modo para Traducir!: </strong></span>
                        <select id="fase">
                            <option value="">Elige Modo</option>
                            <option value="Léxico">Léxico</option>
                            <option value="Sintáxis">Sintaxis</option>
                            <option value="Semántico">Semántico</option>
                            <option value="Código Intermedio">Código Intermedio</option>
                            <option value="Optimizacion de Código">Optimizacion de Código</option>
                            <option value="Generar Código">Generar Código</option>
                        </select>
                    </div>
                    <button onclick="ejecutar('archivo')" class="btn_traducir">¡TRADUCE!</button>
                </div>
                <div>
                    <h2>Código Proporcionado</h2>
                    <textarea name="" id="code" class="consola_resultado_traducir" readonly="readonly"></textarea>
                </div>
            </div>
            <div class="caja12">
                <div class="caja_Parte_arriba_modificado">
                    <h2>Consola: </h2>
                    <textarea name="" id="console" class="consola_reportar" readonly="readonly"></textarea>
                </div>

                <div>
                    <h2>Análisis de Resultado</h2>
                    <textarea name="" id="output" class="consola_resultado_traducir" readonly="readonly"></textarea>
                </div>
            </div>
        </div>
        <footer>
            <h2 class="Autor">Autor: JJA</h2>
        </footer>
    </div>
</body>
<script>
    const Btn_Mostrar_Musica = document.getElementById('Mostrar_MusicPlayer');
    const CargarMusicaDefecto = document.getElementById('CargarMusicaDefecto');
    const CargarMusicaSeleccionado = document.getElementById('CargarMusicaSeleccionado');
    const musicFileInput = document.getElementById('musicFileInput');
    const Btn_apagar = document.getElementById('Btn_apagar');

    Btn_Mostrar_Musica.addEventListener('click', () => {
            Contenedor_MusicPlayer.style.display = 'block';
    });

    
    CargarMusicaDefecto.addEventListener('click', () => {
            audioPlayer.src = './public/Menu.mp3';
            audioPlayer.play().catch(e => alert("No ha puesto Musica!"));
    });

    CargarMusicaSeleccionado.addEventListener('click', () => {
            musicFileInput.click(); 
            
            musicFileInput.addEventListener('change', (e) => {
            const file = e.target.files[0];
            if (file) {
                const fileURL = URL.createObjectURL(file);
                audioPlayer.src = fileURL;
                audioPlayer.play();
            }
        });
    });
    
    Btn_apagar.addEventListener('click', () => {
            Contenedor_MusicPlayer.style.display = 'none';
            audioPlayer.pause();
    });
</script>
</html>