<html>

<head>
    <title>Jafapy</title>
    <link rel="stylesheet" href="public/css/styles2.css">
    <link rel="icon" type="image/png" href="public/image/computador.png">
    <script src="public/js/connection.js"></script>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
</head>

<body>
    <div class="caja_main">

        <div class="caja_titulo">
            <h1 class="Titulo">Jafapy</h1>
            <figure>
                <img src="public/image/computador.png" alt="computador">
            </figure>
        </div>

        <div class="caja_modos">
            <p>¿Quieres cambiar por Subir Archivo? <a href="index_v2.html">This way sir!</a> <span
                    class="emoji">&#129488;</span></p>
        </div>

        <div class="caja_grande">
            <div class="caja12">
                <div>
                    <h2>¡Escribe su Código!</h2>
                    <textarea name="" id="input" class="consola_resultado_traducir"></textarea>
                </div>
                <div class="caja_Parte_arriba">
                    <div class="caja_seleccionar_modos">
                        <span><strong>¡Y selecciona Modo para Traducir!: </strong></span>
                        <select id="fase">
                            <option value="">Elige Modo</option>
                            <option value="Léxico">Léxico</option>
                            <option value="Sintáxis">Sintaxis</option>
                            <option value="Semántico">Semántico</option>
                            <option value="Código Intermedio">Código Intermedio</option>
                            <option value="Optimizacion de Código">Optimizacion de Código</option>
                            <option value="Generar Código">Generar Código</option>
                        </select>
                    </div>
                    <button onclick="ejecutar('textarea')">¡TRADUCE!</button>
                </div>
            </div>
            <div class="caja12">
                <div class="caja_Parte_arriba_modificado">
                    <h2>Consola: </h2>
                    <textarea name="" id="console" class="consola_reportar" readonly="readonly"></textarea>
                </div>

                <div>
                    <h2>Análisis de Resultado</h2>
                    <textarea name="" id="output" class="consola_resultado_traducir" readonly="readonly"></textarea>
                </div>
            </div>
        </div>
        <footer>
            <h2 class="Autor">Autor: JJA</h2>
        </footer>
    </div>
</body>

</html>